body
{
    font-family: monospace;
    margin: 0px;
    padding: 0px;

}

header,nav,main,aside,footer
{
    padding: 20px;
    text-align: center;
    
}

header
{
    background-color: #333;
    color: #fff;
}

nav
{
    background-color: #666;
    color:#fff;

}

main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 800px;
    
}
section
{
        
    flex: 1;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 20px;;

}
aside
{   
    display: flex;
    background-color: #999;
    columns: #fff;

}

footer
{   
    display: flex;
    background-color: #333;
    color: #fff;
    height: 200px;
}