body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.supercontainer
{
    display: flex;
    background-color: gray;
    height: 2000px;
    flex-direction: column;
    flex-wrap: wrap;
}

.container1
{
    display: flex;
    height: 500px;
    background-color: antiquewhite;
    margin-bottom: 1    0px;
    padding: 0px;

}
.container2
{
    display: flex;
    height: 500px;
    background-color: khaki;
    margin: 10px;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
  
}
.container2>div
{
    background-color: burlywood;
    margin: 10px;
    padding: 20px;
    width: 45%;
}

.container3
{
    display: flex;
    height: 500px;
    background-color: lightgray;
    margin: 10px;
    padding: 20px;

    
}
.container4
{ 
    display: flex;
    height: 200px;
    background-color: #1e293b;
    margin: 10px;
    padding: 20px;
    flex-wrap: wrap ;
    justify-content: center;
    flex-direction: column;
    justify-content: center;

}
.container4>h2,.container1 a,.container1 p
{
    display: flex;
    
    
    
}

#d1
{   
    
    background-color:lightgray;
    width:80% ;
    height: 450px;
    padding: 20px;
    margin-right: 15px;
    
}

.profile-picture
{
    margin: 20px auto;
    width: 280px;
    height: 360px;
    border: 2px solid black;
    background-image: url('Saurabh.jpeg');
    border-radius: 50%;
   

}